node_modules
**/node_modules
*.log
logs/
**/logs/
dist/
build/
coverage/
sample.env
.sample.env
.env.sample
.vscode/
.idea/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.DS_Store
Thumbs.db
*.swp
*.swo
node_modules
dist
.env
