APP_NAME = quickly-backend

FRONT_END_PROTOCOL = "http"
FRONT_END_DOMAIN = "192.168.155.61"
FRONT_END_PORT = "3737"

APP_PROTOCOL = "http"
APP_DOMAIN = "192.168.155.61"
APP_PORT = "3400"

DB_HOST="192.168.155.61"
DB_PORT="5432"
DB_USER="pguser"
DB_PASSWORD="pgpassword"
DB_DATABASE="quicklydb"
DB_SCHEMA="public"
DB_SYNC="true"

JWT_SECRET = "your-jwt-secret-key-min-32-chars"
JWT_EXPIRES_IN = "900"

MAIL_HOST = "mailhog"
MAIL_SMTP_PORT="1030"
MAIL_WEB_PORT="8025"
MAIL_USERNAME = "no-reply@quickly.com"
MAIL_PASSWORD = "123123123123"
MAIL_SECURE= false
MAIL_IGNORE_TLS="true"
MAIL_FROM_NAME = "Quickly"
MAIL_FROM_EMAIL = "no-reply@quickly.com"

SALT_ROUNDS="10"

REDIS_DOMAIN="192.168.155.61"
REDIS_PORT="6379"
REDIS_SESSION_PREFIX="sess:quickly:"

SESSION_ABSOLUTE_MAX_SECONDS="2592000" # 30 days
SESSION_REMEMBER_ME_IDLE_SECONDS="604800" # 7 days
SESSION_IDLE_SECONDS="3600" # 1 hour

SESSION_SECRET="quickly-session-secret"
SESSION_NAME="quickly.sid"